body {
  font-family: fantasy;
  text-align: center;
}

h1 {
  font-weight: bolder;
  border-style: ridge;
}

ul {
  margin: 36px;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

img {
  display: block;
  margin: auto;
  width: auto;
  height: auto;
  opacity: inherit;
}
